<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Hello, Express! - About Us </title>

    <!--    use the CSS at public/css/style.css-->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1> About Us </h1>

    <p> Blah blah blah blah blah. </p>

<!-- display public/images/smart.gif -->
         <img src="/images/smart.gif">

<!-- app.get('/', (...) =>
              |                      -->
     <a href="/"> Back to Home </a>
  </body>
</html>
