<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Hello, Express! </title>

    <!--    use the CSS at public/css/style.css-->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1> Contact Us </h1>

    <p> To contact us, send a certified letter with insurance
        to 555 Blah St; Blah City, BL 55555. </p>

<!-- display public/images/question.gif -->
         <img src="/images/question.gif">

<!-- app.get('/', (...) =>
              |                      -->
     <a href="/"> Back to Home </a>
  </body>
</html>
